@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Signup {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: $background-color-3;
    @include flex-center;
    align-items: flex-start;

    &__Container {
        margin-top: 10rem;
        background-color: white;
        @include padding;
        padding-bottom: 1rem;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    &__Btn-Container {
        display: flex;
        gap: 1rem;
        @include padding;
    }

    &__Title {
        @include titles;
    }

    &__Form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__Error {
        @include body;
        font-weight: 700;
        @include flex-center;
        margin-bottom: 0;
        color: $error-color;
    }
}
