@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Signup {
    background-color: $background-color-4;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 3;
    @include flex-center;

    &__Container {
        position: relative;
        background-color: $background-color-5;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    &__Close-Icon {
        height: 2rem;
        position: absolute;
        top: -2rem;
        right: -2rem;
        cursor: pointer;
    }

    &__Btn-Container {
        display: flex;
        gap: 1rem;
        @include padding;
    }

    &__Title {
        @include titles;
        margin: 0;
        margin-bottom: 1rem;
    }

    &__Form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__Error {
        @include body;
        font-weight: 700;
        @include flex-center;
        margin-bottom: 0;
        color: $error-color;
    }
}
