@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Ledger {
    @include padding;
    position: relative;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        gap: 1rem;
    }
}

.Transactions {
    width: 30%;
    &__Header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    &__Title {
        @include subtitles;
        margin: 0;
    }

    &__Add-Icon {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $background-color-3;
        border-radius: 50%;
        align-self: flex-end;
        cursor: pointer;

        &:hover {
            background-color: $background-color-cta;
        }

        &:active {
            background-color: $background-color-cta;
        }
    }
}

.Journal {
    flex-grow: 1;
    &__Header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    &__Title {
        @include subtitles;
        margin: 0;
    }
}

.Entries {
    display: flex;
    flex-direction: column;
    border: 1px dashed grey;
    border-radius: 10px;
    margin-bottom: 8rem;

    @include desktop {
        margin-bottom: 1rem;
    }

    &__Header {
        display: flex;
        background-color: $background-color-4;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0.25rem;
    }

    &__Label {
        @include labels;
        width: 16.6667%;
        margin: 0;

        &--Number {
            text-align: right;
            padding-right: 0.5rem;
        }
    }

    &__Text {
        @include body;
        width: 20%;
        margin: 0;

        &--Number {
            text-align: right;
            padding-right: 0.5rem;
        }
    }

    &__Item {
        display: flex;
        padding: 0.25rem;

        &:nth-child(odd) {
            background-color: $background-color-4;
        }

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}
