@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Recipe-Modal {
    background-color: rgba($color: white, $alpha: 0.85);
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 3;
    @include flex-center;

    @include desktop {
        height: auto;
        width: auto;
        top: 1.5rem;
        right: -27rem;
        position: absolute;
        background-color: transparent;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__Title {
        @include subtitles;
        margin: 0;
        align-self: flex-start;
    }

    &__Form {
        padding: 1rem;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: $background-color-5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        @include desktop {
            border: 1px dashed grey;
            width: 24.125rem;
            height: auto;
        }
    }

    &__Icon-Container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__Icon {
        width: 2rem;
        cursor: pointer;
    }

    &__Line {
        @include desktop {
            position: absolute;
            top: 0.625rem;
            left: -2.8rem;
            width: 48px;
            height: 0;
            border: 0.5px dashed grey;
        }
    }
}
