@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.EditItem {
    @include desktop {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: transparent;
        align-items: flex-start;
    }

    &__Title {
        @include subtitles;
        margin: 0;
        margin-bottom: 1rem;
    }

    &__Form {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        @include desktop {
            box-shadow: none;
            background-color: transparent;
        }
    }

    &__Icon-Container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    &__Icon {
        width: 1.5rem;
        cursor: pointer;
    }
}
