@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.EditItem {
    background-color: rgba($color: white, $alpha: 0.85);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    @include flex-center;

    @include desktop {
        width: auto;
        height: 100%;
        position: relative;
        background-color: transparent;
        align-items: flex-start;
    }

    &__Form {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: $success-color;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include desktop {
            box-shadow: none;
            background-color: transparent;
        }
    }

    &__Icon-Container {
        display: flex;
        justify-content: space-evenly;
    }

    &__Icon {
        width: 1.5rem;
        cursor: pointer;
    }
}
