@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Login {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: $background-color-3;
    @include flex-center;
    align-items: flex-start;

    &__Container {
        position: relative;
        margin-top: 20vh;
        background-color: white;
        @include padding;
        padding-bottom: 1rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    &__Close-Icon {
        height: 2rem;
        position: absolute;
        top: -1rem;
        right: -1rem;
        border-radius: 50%;
        // border: 2px solid black;
        background-color: $error-color;
        cursor: pointer;

        &:hover {
            background-color: $error-color-2;
        }
    }

    &__Btn-Container {
        display: flex;
        gap: 1rem;
        @include padding;
    }

    &__Title {
        @include titles;
    }

    &__Form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__Error {
        @include body;
        font-weight: 700;
        @include flex-center;
        margin-bottom: 0;
        color: $error-color;
    }
}
