@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Button {
    @include buttons;
    @include padding-button;
    border: none;
    border-radius: 10px;
    height: 2rem;
    background-color: $background-color-3;
    color: $text-color-2;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: $background-color-cta;
    }

    &--Bottom {
        margin-bottom: 1rem;
    }

    &--Cancel {
        background-color: $error-color;
        &:hover {
            background-color: darkred;
        }
    }
}
