@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Home {
    min-height: 100vh;

    @include desktop {
        width: $desktop-size;
        margin: 0 auto;
    }
    &__Container {
        display: flex;
        flex-direction: row-reverse;
    }

    &__Switch {
        flex-grow: 1;
        @include tablet {
            padding-left: 0.25rem;
        }
    }
}
