@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Toolbar {
    display: flex;
    padding: 1rem 0;

    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        padding: 0;
    }
    &--hidden {
        display: none;
        @include tablet {
            display: flex;
        }
    }

    &__Container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $success-color;

        @include tablet {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
            padding: 1rem;
            left: 0.25rem;
            top: 4.5rem;
            width: auto;
            height: 100%;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }

    &__Link {
        @include body;
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        width: 25%;
        text-align: center;
        cursor: pointer;
        &--toggle {
            @include tablet {
                display: none;
            }
        }

        @include tablet {
            align-items: center;
            width: auto;
        }
    }

    &__Icon {
        height: 2.5rem;

        @include tablet {
            height: auto;
            width: 2rem;
        }
    }
}
