@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Header {
    &__Container {
        @include padding;
        background-color: $success-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            justify-content: flex-start;
        }
    }

    &__Icon {
        height: 2.5rem;
        &--logo {
            @include tablet {
                margin-right: 1.5rem;
            }
        }

        &--menu {
            @include tablet {
                display: none;
            }
        }
    }

    &__Title {
        @include subtitles;
        color: white;
        @include tablet {
            margin-right: auto;
        }
    }

    &__Nav {
        display: none;

        &--visible {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $background-color-4;

            @include tablet {
                display: none;
            }
        }

        &--tablet {
            display: none;
            @include tablet {
                margin-left: auto;
                display: flex;
            }
        }
    }

    &__Link {
        text-decoration: none;
        color: $text-color-1;
        padding: 1rem;

        &:active {
            background-color: $active-state;
        }

        @include tablet {
            color: white;

            &--logo {
                padding: 0;
            }

            &:active {
                background-color: transparent;
            }
        }
    }
}
