@use '../../Styles/mixins' as *;
@use '../../Styles/variables' as *;

.Input {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__Label {
        @include labels;
    }

    &__Field {
        @include body;
        @include padding-input;
        border: 1px solid $text-color-1;
        border-radius: 10px;
        height: 2rem;

        &--bottom {
            margin-bottom: 1rem;
        }

        &::placeholder {
            @include placeholder;
            color: $text-color-1;
        }
        &:focus {
            outline: none;
            border: 2px solid $background-color-3;
        }

        @include tablet {
            width: 20rem;
        }
    }
}
