@mixin titles {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin: 1.5rem 0 1rem 0;
}

@mixin subtitles {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
}

@mixin body {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

@mixin buttons {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.3125rem;
}

@mixin placeholder {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
}

@mixin labels {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.3125rem;
}

@mixin spacing-reset {
    margin: 0;
    padding: 0;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding {
    padding: 0 1rem;
}
