$background-color-1: #a86f35;
$background-color-2: #ccc;
$background-color-cta: #064490;
$background-color-3: #1a5cad;
$background-color-4: #fffbfe; // main card color
$background-color-5: #e1e3da; // Main background color
$active-state: rgb(177, 190, 173);
$text-color-1: #181717;
$text-color-2: #fffbfe;
$error-color: rgb(163, 39, 39);
$error-color-2: darkred;
$success-color: #3c7646; // main tool bar color
$success-color-2: #3c7646;

$tablet-size: 48rem;
$desktop-size: 80rem;
