$background-color-1: #a86f35;
$background-color-2: #ccc;
$background-color-cta: #064490;
$background-color-3: #1a5cad;
$text-color-1: #181717;
$text-color-2: rgb(248, 246, 231);
$error-color: rgb(167, 60, 60);
$success-color: #3c7646;

$tablet-size: 48rem;
$desktop-size: 80rem;
